<html>
	<head>
		<title>Invalid Email</title>
		<!-- Bootstrap -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/header-body-footer.css" rel="stylesheet">
		<link href="/css/bootstrap.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<h3>Sorry, you do not have permission to view this page</h3>
			<br>
			<a href="/" class="btn btn-primary">Back</a>
		</div>
	</body>
</html>